.Overlay {
  background-color: #746d6dd0;
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.Content {
  background: rgb(22, 26, 32);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(51, 65, 85, 0.5);
  border-radius: 0.75rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.3);
  transition: border-color 0.3s;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: fit-content;
  max-height: fit-content;
  padding: 25px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  &:focus {
    outline: none;
  }
}

.Title {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
}

.Description {
  margin-bottom: 20px;
  font-size: 1.25rem;
  line-height: 1.5;
  color: #d5deeb;
}

.btn_primary {
  align-self: flex-end;
  width: fit-content;
  margin: 1rem 0;
  padding: 0.5rem 2rem;
  background: linear-gradient(to right, #10b981, #059669);
  border: none;
  border-radius: 0.5rem;
  font-weight: 700;
  font-size: 1.125rem;
  color: white;
  cursor: pointer;
  transition: all 0.3s;
  display: flex;
  flex-direction: row;
  gap: 1.5em;
  &:hover {
    text-shadow: 4px 2px 1px #33415580;
    background: linear-gradient(to left, #40b38c, #0bd192);
  }
}
.btn_secondary {
  width: fit-content;
  margin: 1rem 0;
  padding: 0.5rem 2rem;
  background: linear-gradient(to right, #10b981, #059669);
  border: none;
  border-radius: 0.5rem;
  font-weight: 700;
  font-size: 1.125rem;
  color: white;
  cursor: pointer;
  transition: all 0.3s;
  display: flex;
  flex-direction: row-reverse;
  gap: 1.5em;
  &:hover {
    background: linear-gradient(to left, #16bb84, #059669);
  }
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
