nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
  background: rgba(10, 14, 20, 0.8);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba(51, 65, 85, 1);
  height: 4rem;
  display: grid; 
  grid-template-columns: 1fr auto 1fr; 
  align-items: center;
  padding: 0 1rem; 
}
.nav-left {
  justify-self: start; 
  color: white;
}
.title-logo {
  font-size: 1.25rem;
  transition: opacity 300ms ease-in-out;
  justify-self: center;
}

.title-logo:hover {
  opacity: 0.8;
}

.title {
  font-weight: 700;
  background: linear-gradient(to right, #10b981, #059669);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.nav-right {
  justify-self: end; 
}